.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 17px;
  
  button{
    margin: 0 6px;
  }
  p{
    padding: 0px 17px;
    font-weight: bold;
    color: #45D1A8;
  }
}