.books{
  display: flex;
  flex-direction: column;
  min-width: 800px;
  
  .booksResultsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h2 {
    margin: 7px 17px ;
  }
  code{
    text-align: center;    
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 500px;
    width: 800px;
  }
  
}