.books{
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  width: 800px;
  
  
  .booksResultsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: fit-content;
    height: 775px;
  }
  
}