.books{
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  width: 960px;
  
  .booksFound{
    animation: colorChange 1s ease-in-out forwards;
  }

  @keyframes colorChange {
    0% {
      color: white;
    }
    50% {
      color: #45D1A8;
    }
    100% {
      color: white;
    }
  }

  .booksResultsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    max-width: fit-content;
  }
  
}