@mixin select() {
  height: 100%;
  padding: 3px 7px;
  outline: #45D1A8;
  .dropdown{
    outline: #45D1A8;
  }
}

.filters{
  display: flex;
  margin: 12px 0;

  select {
    @include select()
  }
  select.dropdown:focus{
    border: 1px solid #45D1A8;
  }
}

.clearfilterButton{
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:hover {
    content: 'Clear Filters';
  }
}
