.bookItem {
  display: flex;
  margin: 7px 0;
  padding-right: 17px;
  border: 1px solid rgba(69,209,168, 0.2);
  height: 125px;

  img {
    display: flex;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 17px;
    flex: 1;

    span{
      display: flex;
      font-style: italic;
      font-size: small;
      line-height: 22px;
      margin-bottom: 7px;
      
    }
    img{
      width: 22px;
      height: min-content;
      display: list-item;
      padding-right: 7px;
    }
  }
}
